<nav role="navigation" class="mega-menu text-center">
  <ul class="site-nav">
    <li>
      <a href="#">
        Shop Hunting <i class="fas fa-angle-down"></i>
      </a>
      <div class="mega-menu-wrapper">
        <div class="wrapper">
          {% section 'hunting-menu' %}
        </div>
      </div>
    </li>
    <li>
      <a href="#">
        Shop Fishing <i class="fas fa-angle-down"></i>
      </a>
      <div class="mega-menu-wrapper">
        <div class="wrapper">
          {% section 'fishing-menu' %}
        </div>
      </div>
    </li>
    <li>
      <a href="#">
        Shop Camping <i class="fas fa-angle-down"></i>
      </a>
      <div class="mega-menu-wrapper">
        <div class="wrapper">
          {% section 'camping-menu' %}
        </div>
      </div>
    </li>
    <li>
      <a href="\collections\specials">
        Shop Specials
      </a>
    </li>
  </ul>
</nav>
