<div class="site-info text-center">
  {% for block in section.blocks %}
    <div class="site-info-block">
      <a href="{{ block.settings.id-link }}">
        <div class="left">
          <div class="info-icon"><img src="{{ block.settings.info-icon | img_url: '32x' }}" /></div>
        </div>
        <div class="right">
          <div class="info-text">{{ block.settings.info-text }}</div>
          <div class="info-sub-text">{{ block.settings.info-sub-text }}</div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Site Info",
  "settings": [
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Site Info",
      "settings": [
        {
          "id": "info-text",
          "type": "text",
          "label": "Info Text"
        },
        {
          "id": "info-sub-text",
          "type": "text",
          "label": "Info sub text"
        },
        {
          "id": "info-icon",
          "type": "image_picker",
       		"label": "Info Icon"
        },
        {
          "id": "id-link",
          "type": "url",
          "label": "Link to page"
        }
      ]
    }
  ]
}
{% endschema %}
